@using EntityLayer.Concrete
@model Mvc_Proje.ViewModels.HeadingContentViewModel

@{
    ViewData["Title"] = "Headings";
    Layout = "~/Views/Shared/_HeadingLayout.cshtml"; // Layout yolu
}

<div class="wrapper">
    <section class="content">
        <div class="container-fluid">
            <!-- Timelime example  -->
            <div class="row">
                <div class="col-md-12">
                    <!-- The time line -->
                    <div class="timeline">
                        @foreach (var item in Model.Contents)
                        {
                            <!-- timeline time label -->
                            <div class="time-label">
                                <span class="bg-success">@(((DateTime)item.ContentDate).ToString("dd-MMM-yyyy"))</span>
                            </div>
                            <!-- /.timeline-label -->
                            <!-- timeline item -->
                            <div>
                                <i class="fas fa-comment bg-yellow"></i>
                                <div class="timeline-item">
                                    <h2 class="timeline-header"><a href="/DefaultHeading/ContentByHeading/@item.HeadingID"> @item.Heading.HeadingName </a></h2>
                                    <div class="timeline-body">
                                        @item.ContentValue
                                        <span style="float: right; color: orange; font-weight: bold;">
                                            @item.Writer.WriterName @item.Writer.WriterSurname
                                        </span>
                                    </div>
                                </div>
                            </div>
                        }
                        <!-- END timeline item -->
                    </div>

                </div>
                <!-- /.col -->
            </div>
        </div>
        <!-- /.timeline -->
    </section>
    <!-- /.content -->
</div>
